

div.contactIndexContainer
    div.widgetPanel
        div.widgetHead
            h2= title
        div.widgetContent
           table
                thead
                    tr
                        th name
                        th surname
                tbody(data-bind="foreach: contacts")
                    tr
                        td(data-bind="text: name")
                        td(data-bind="text: surname")


block scripts
     script(src='/js/app/contact.js')