//
   Company: OfficeSoft
   User: smangelschots
   Date: 12/10/12
   Time: 02:16
ko.bindingHandlers.dataTable = {
  init: function(element, valueAccessor) {
    var options = valueAccessor();
    var defaults = {
        "aaData": options["data"](),
        "bRetrieve": true,
        "fnRowCallback": function(nRow, aData, iDisplayIndex) {
            $(nRow).mouseover(function(){
              $(nRow).attr("style","background-color:yellow !important;");
            });
            $(nRow).mouseout(function() {
              $(nRow).removeAttr("style");
            });
            if(typeof options["rowClick"] === "function") {
              $(nRow).click(function() {
                options["rowClick"](aData);
              });
            }
            return nRow;
        },
    }
    var tableOptions = $.extend(defaults,options["options"]);
    options["object"]($(element).dataTable(tableOptions));
  },
  update: function(element,valueAccessor) {
    var options = valueAccessor();
    options["object"]().fnClearTable();
    options["object"]().fnAddData(options["data"](),true);
  }
};

var VM = {
    tableData: ko.observableArray([[1,"John","Doe"],[2,"Lorem","Ipsum"]]),
    dataTable: ko.observable(null),
    tableRowClick: function(data) { alert("O id é "+data[0]); },
    tableOptions: { aaSorting: [["1","desc"]] },
    idx: 2,
    adicionarDados: function() {
        VM.idx++;
        VM.tableData.push([VM.idx,"Teste"+VM.idx,"1234"+VM.idx]);
    }
};

$(function() {
   ko.applyBindings(VM);
});
<button data-bind="click: adicionarDados">Adicionar Dados</button>
<table data-bind="dataTable: {options: VM.tableOptions,object: VM.dataTable,rowClick: VM.tableRowClick,data: VM.tableData}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>



        <!-- Sample 2: Editable Data Table with Row Template -->
        <div Id="sample2" class="sample">
            <h1> Sample 2: Editable Data Table with Row Template</h1>
            <p class="description">
                This demonstration is the same as Sample 1, except for the following:
                <ul>
                    <li>A jQuery template is used by the table to print each row.</li>
                    <li>You are able to edit the values of each cell which demonstrates how each cell is bound back to an item property in the array data source.</li>
                    <li>You can remove a specific row in the table demonstrating the link between the table's rows and the items in the array data source.</li>
                </ul>
            </p>
            <div class="table">
                <a data-bind="click: addItem">Add</a>
                <a data-bind="click: toggleEdit">Toggle Edit</a>
                <br /><br />
                <table data-bind="dataTable: {
                    dataSource: data,
                    rowTemplate: 'sample2RowTemplate',
                    columns: [
                        'Column1',
                        'Column2',
                        'Column3',
                        { mDataProp: 'IsSelected', bSortable: false }
                    ]
                }">
                    <thead>
                        <tr>
                            <td>Column 1</td>
                            <td>Column 2</td>
                            <td>Column 3</td>
                            <td>Select All <input type="checkbox" name="chkSelectAll" data-bind="checked: selectAll"  /></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <h2>Array Data Source</h2>
            <div data-bind="text: json"></div>
        </div>
        <script id="sample2RowTemplate" type="text/html">
            <td><input type="text" data-bind="value: Column1, valueUpdate:'keypress', enable: $root.editable()" /></td>
            <td><input type="text" data-bind="value: Column2, valueUpdate:'keypress', enable: $root.editable()" /></td>
            <td><input type="text" data-bind="value: Column3, valueUpdate:'keypress', enable: $root.editable()" /></td>
            <td><input type="checkbox" data-bind="checked: IsSelected"  /></td>
            <td><a data-bind="click: function() { vm2.removeItem($data); }">Remove</a></td>
        </script>
        <script type="text/javascript">

            var vm2 = new ViewModel();

            $(function () {
                ko.applyBindings(vm2, $("#sample2")[0]);
            });

        </script>
        script#sample2RowTemplate(type='text/html')
            <td><input type="text" data-bind="value: Column1, valueUpdate:'keypress', enable: $root.editable()" /></td>
              <td><input type="text" data-bind="value: Column2, valueUpdate:'keypress', enable: $root.editable()" /></td>
              <td><input type="text" data-bind="value: Column3, valueUpdate:'keypress', enable: $root.editable()" /></td>
              <td><input type="checkbox" data-bind="checked: IsSelected"  /></td>
             <td><a data-bind="click: function() { vm2.removeItem($data); }">Remove</a></td>




             <div class="table">
                         <div class="head"><h5 class="iFrames">Dynamic table</h5></div>
                         <div class="dataTables_wrapper" id="example_wrapper"><div class=""><div class="dataTables_filter" id="example_filter"><label>Search: <input type="text" placeholder="type here..."><div class="srch"></div></label></div></div><table cellspacing="0" cellpadding="0" border="0" id="example" class="display">
                             <thead>
                                 <tr><th class="ui-state-default" rowspan="1" colspan="1" style="width: 123px;"><div class="DataTables_sort_wrapper">Rendering engine<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div></th><th class="ui-state-default" rowspan="1" colspan="1" style="width: 184px;"><div class="DataTables_sort_wrapper">Browser<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div></th><th class="ui-state-default" rowspan="1" colspan="1" style="width: 170px;"><div class="DataTables_sort_wrapper">Platform(s)<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div></th><th class="ui-state-default" rowspan="1" colspan="1" style="width: 107px;"><div class="DataTables_sort_wrapper">Engine version<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div></th><th class="ui-state-default" rowspan="1" colspan="1" style="width: 85px;"><div class="DataTables_sort_wrapper">CSS grade<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div></th></tr>
                             </thead>

                         <tbody><tr class="gradeA odd">
                                     <td class=" sorting_1">Gecko</td>
                                     <td>Firefox 1.0</td>
                                     <td>Win 98+ / OSX.2+</td>
                                     <td class="center">1.7</td>
                                     <td class="center">A</td>
                                 </tr><tr class="gradeA even">
                                     <td class=" sorting_1">Gecko</td>
                                     <td>Firefox 1.5</td>
                                     <td>Win 98+ / OSX.2+</td>
                                     <td class="center">1.8</td>
                                     <td class="center">A</td>
                                 </tr><tr class="gradeA odd">
                                     <td class=" sorting_1">Gecko</td>
                                     <td>Firefox 2.0</td>
                                     <td>Win 98+ / OSX.2+</td>
                                     <td class="center">1.8</td>
                                     <td class="center">A</td>
                                 </tr><tr class="gradeA even">
                                     <td class=" sorting_1">Gecko</td>
                                     <td>Firefox 3.0</td>
                                     <td>Win 2k+ / OSX.3+</td>
                                     <td class="center">1.9</td>
                                     <td class="center">A</td>
                                 </tr><tr class="gradeA odd">
                                     <td class=" sorting_1">Gecko</td>
                                     <td>Camino 1.0</td>
                                     <td>OSX.2+</td>
                                     <td class="center">1.8</td>
                                     <td class="center">A</td>
                                 </tr><tr class="gradeA even">
                                     <td class=" sorting_1">Gecko</td>
                                     <td>Camino 1.5</td>
                                     <td>OSX.3+</td>
                                     <td class="center">1.8</td>
                                     <td class="center">A</td>
                                 </tr><tr class="gradeA odd">
                                     <td class=" sorting_1">Gecko</td>
                                     <td>Netscape 7.2</td>
                                     <td>Win 95+ / Mac OS 8.6-9.2</td>
                                     <td class="center">1.7</td>
                                     <td class="center">A</td>
                                 </tr><tr class="gradeA even">
                                     <td class=" sorting_1">Gecko</td>
                                     <td>Netscape Browser 8</td>
                                     <td>Win 98SE+</td>
                                     <td class="center">1.7</td>
                                     <td class="center">A</td>
                                 </tr><tr class="gradeA odd">
                                     <td class=" sorting_1">Gecko</td>
                                     <td>Netscape Navigator 9</td>
                                     <td>Win 98+ / OSX.2+</td>
                                     <td class="center">1.8</td>
                                     <td class="center">A</td>
                                 </tr><tr class="gradeA even">
                                     <td class=" sorting_1">Gecko</td>
                                     <td>Mozilla 1.0</td>
                                     <td>Win 95+ / OSX.1+</td>
                                     <td class="center">1</td>
                                     <td class="center">A</td>
                                 </tr></tbody></table><div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"><div id="example_length" class="dataTables_length"><label>Items per page: <select name="example_length" size="1"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div><div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="example_paginate"><span class="toFirst ui-corner-tl ui-corner-bl fg-button ui-button ui-state-disabled" id="example_first">First</span><span class="previous fg-button ui-button ui-state-disabled" id="example_previous">Prev</span><span><span class="fg-button ui-button ui-state-disabled">1</span><span class="fg-button ui-button">2</span><span class="fg-button ui-button">3</span><span class="fg-button ui-button">4</span><span class="fg-button ui-button">5</span></span><span class="next fg-button ui-button" id="example_next">Next</span><span class="last ui-corner-tr ui-corner-br fg-button ui-button" id="example_last">Last</span></div></div></div>
                     </div>

                     <div class="widgetPanel"><div class="widgetHead"><h2>Contacts</h2></div><div class="widgetContent"><div class="jgrid" data-bind="jgrid:gridViewModel">                    <div class="jqridHead">                        <h5 data-bind="text: tableHeaderText">Contacts</h5>                     </div>                    <table cellspacing="0" class="jgridTable">                        <thead>                            <tr data-bind="foreach: columns">                               <th data-bind="text: headerText">name</th>                                                           <th data-bind="text: headerText">name</th>                            </tr>                        </thead>                        <tbody data-bind="foreach: itemsOnCurrentPage">                           <tr data-bind="foreach: $parent.columns">                               <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText] ">test</td>                                                           <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText] "></td>                            </tr>                                                   <tr data-bind="foreach: $parent.columns">                               <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText] ">test</td>                                                           <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText] "></td>                            </tr>                                                   <tr data-bind="foreach: $parent.columns">                               <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText] ">hello</td>                                                           <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText] "></td>                            </tr>                                                   <tr data-bind="foreach: $parent.columns">                               <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText] ">Steve</td>                                                           <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText] "></td>                            </tr>                        </tbody>                    </table>                    <div class="ko-grid-pageLinks">                        <span>Page:</span>                        <!-- ko foreach: ko.utils.range(0, maxPageIndex) -->                               <a data-bind="text: $data + 1, click: function() { $root.currentPageIndex($data) }, css: { selected: $data == $root.currentPageIndex() }" href="#" class="selected">1</a>                        <!-- /ko -->                    </div></div></div><div id="editDialog"></div></div>


                     <div class=""><div class="dataTables_filter" id="example_filter"><label>Search: <input type="text" placeholder="type here..."><div class="srch"></div></label></div></div>

                     <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
                     <div id="example_length" class="dataTables_length">
                     <label>Items per page: <select name="example_length" size="1"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div><div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="example_paginate"><span class="toFirst ui-corner-tl ui-corner-bl fg-button ui-button ui-state-disabled" id="example_first">First</span><span class="previous fg-button ui-button ui-state-disabled" id="example_previous">Prev</span><span><span class="fg-button ui-button ui-state-disabled">1</span><span class="fg-button ui-button">2</span><span class="fg-button ui-button">3</span><span class="fg-button ui-button">4</span><span class="fg-button ui-button">5</span></span><span class="next fg-button ui-button" id="example_next">Next</span><span class="last ui-corner-tr ui-corner-br fg-button ui-button" id="example_last">Last</span></div></div>
