
/* =====  CSS reset  ===== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! padding: 9px 17px 9px 17px; */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; }
*, * focus {
    outline: none;
    margin: 0;
    padding: 0;
}
textarea { overflow: auto; }
textarea, input[type=text], input[type=password] { font-family: Lucida Grande,Helvetica,Arial,sans-serif; font-size: 12px; }
button, input[type=submit] { font-family: Lucida Grande,Helvetica,Arial,sans-serif; }

img { border: 0; }
ul { list-style: none; margin: 0; padding: 0; }
p { margin: 0; padding: 0; }
:focus { outline: 0; }
a { text-decoration: none; color: #2b6893; }

.normal { font-style: normal; }
.normalFont { font-style: normal; font-weight: normal; }

