//
   Company: OfficeSoft
   User: smangelschots
   Date: 27/05/13
   Time: 09:33

block scripts
    script(src='/js/viewmodel/#{model}.js')
div#contactsGrid.jgrid(name='contacts')



div#contactsView.jview(name='contact')

span(data-bind='text: $data')